<!DOCTYPE HTML>
<html>
<head>
<title>PZH Login</title>
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/structure.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <h1>Successfully requested access to <%=user%>'s personal zone</h1>
    <p>Your request has been sent for approval.</p>
    <p>Your details: 
        <ul>
            <li>Email: <%=externaluser.email%></li>
            <% if (externaluser.fullname) {%>
            <li>Name: <%=externaluser.fullname%></li>            
            <%} else {%>
            <li>Name: <%=externaluser.firstname%> <%=externaluser.lastname%></li>            
            <%}%>
            <li>PZH URL : <a href="<%=externalPzhUrl%>"><%=externalPzhUrl%></a></li>
        </ul>
    </p>
<footer id="main">
  <a href="http://wwww.webinos.org">Powered by webinos</a> | <a href="http://developer.webinos.org">Developer resources on webinos</a>
</footer>
</body>
</html>
