extends layout

block content
	div Click on a widget in the list below to run the test.
		p For more information about these tests see 
			a(target="_blank",href="http://dev.w3.org/2006/waf/widgets/test-suite/") W3C widget test suite
		hr
		- widgets.forEach(function(testWidget) {
			div.listItem
				//a(target="_blank", href="/sideLoad/#{testWidget.src}") #{testWidget.forAttr}/#{testWidget.id}
				a(href="/tests/widget_tests/#{testWidget.src}") #{testWidget.forAttr}/#{testWidget.id}
				div= testWidget.text
		- })