extends layout

block content
	script(type="text/javascript")
		$(function() {
			var timers = [];
			$(".widgetListItem").hover(
				function() { 
					$(this).addClass("widgetListItemHighlight"); 
					var that = this;
					timers.push(that);
					setTimeout(function() { 
						if (timers.indexOf(that) >= 0) { 
							$(that).find(".widgetListOptions").show(); 
							$(that).find(".widgetListItemIcon").hide(); 
						} 
					}, 1500);
				}, 
				function() { 
					timers.pop(this);
					$(this).removeClass("widgetListItemHighlight"); 
					$(this).find(".widgetListOptions").hide();
					$(this).find(".widgetListItemIcon").show();
				}
			);
			$(".widgetListOptions").hover(function() { $(".widgetListItem").unbind("click"); }, function() { $(".widgetListItem").click(function() { window.open($(this).find(".widgetLaunch").attr("hRef")); return false; }); });
			$(".widgetListItem").click(function() { window.open($(this).find(".widgetLaunch").attr("hRef")); return false; });
		});

	-	if (list.length)
		div.widgetList.clearfix
			- var listIdx = 0;
			- while (listIdx < list.length)
				- var item = list[listIdx];
				- if (item.name)		
					div.widgetListItem
						div.widgetListItemDetails
							div.widgetListOptions
								div.widgetListOption
									a(href="/uninstall/#{item.installId}") remove&nbsp;&nbsp;&nbsp;&nbsp;
								div.widgetListOption
									a(target="_blank",href="/widget/about/#{item.installId}") about&nbsp;&nbsp;&nbsp;&nbsp;
								div.widgetListOption
									a(style="font-weight:bold;",target="_blank",href="widget/" + item.installId) run&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							div.widgetListItemIcon
								- if (item.prefIcon)
									//img(src='wgt://#{item.installId}/#{item.prefIcon}', width="64px", height="64px")
									img(src='widget/#{item.installId}/#{item.prefIcon}', width="64px", height="64px")
								- else
									//div(style="background: url('/images/no-icon.png') left top no-repeat;") &nbsp;
									img(src='/images/no-icon.png', width="64px", height="64px")
							div.widgetListItemTitle
								- if (item.name)
									- var dispName = item.name.unicode;
									- if (dispName.length > 30)
										- dispName = dispName.substr(0,30) + "...";
									//a.widgetLaunch(target="_blank",href="wgt://" + item.installId)= dispName
									a.widgetLaunch(target="_blank",href="widget/" + item.installId)= dispName
								- else
									//a.widgetLaunch(target="_blank",href="wgt://" + item.installId)= item.installId
									a.widgetLaunch(target="_blank",href="widget/" + item.installId)= item.installId
				- listIdx++;
	- else
		div There are currently no apps installed.
		div
			br
			a(href="/stores") Go to online stores
			
	- if (typeof feedback !== "undefined" && feedback.length > 0)
		div.feedback.success #{feedback}
		