extends layout

block content
	- if (stores.length)
		div.list
			- stores.forEach(function(item){
				div.listItem
					a(target="_blank", href="#{item.location}")
						img(width="64px", height="64px", src="#{item.logo}")
					div.listItemDetails
						a(target="_blank", href="#{item.location}") #{item.name}
						div= item.description			
						br
						//a(target="_blank", href="#{item.location}") visit
			- })
	- else
		h3 unable to contact store